@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;700&display=swap');


:root {
    --primary-Bg: #346173;
    --primary-text: #be9a79;
    --secondary-button: #A63D33;
}

body {
    margin-top: 10rem;
    background-color: var(--primary-Bg);
    color: var(--primary-text);
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    text-align: center;
}

p {
    font-size: larger;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

ul {
    padding-inline-start: 0;
}

.footer-list {
    margin: 1rem;
}

.footer-text{
    
    text-align: center;
}

a, img, li {
    display: inline;
}

img {
    width: 40px;
    padding: 0.2rem;
}

.container {
    width: 60vw;
    margin: auto;
}

input, label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bolder;
}

input {
    margin-bottom: 2rem;
    width: 100%;
    height: 3vh;
    border-radius: 0.2rem;
}

#check-number {
    display: block;
    margin: auto;
    background: transparent;
    color: var(--secondary-button);
    border-color: var(--secondary-button);
    border-width: medium;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-weight: bolder;
    font-size: large;
}


